@lightGrey:#B1B1B1;
@yellow: #f7a313;

h1 {
    font: 400 2.6em/1.4em "franklin-gothic-urw", sans-serif;
    margin: .67em 0 .5em;
}

h2 {
    font: 400 2.5em/1.4em "franklin-gothic-urw", sans-serif;
    margin: .67em 0 .5em;
}

.footer h2 {
    font-size: 1.8em;
    margin-top: 0;
}
h3 {
font: 700 1.45em/1.4em "franklin-gothic-urw",sans-serif;
margin: .5em 0;
    color:@yellow;
}

article h3{
    margin: 0;
}

.artTitle{
    font: 400 1em/1.4em "franklin-gothic-urw", sans-serif;
    color:@yellow;
}


h4 {
    font: 700 1.45em/1.4em "franklin-gothic-urw", sans-serif;
    margin: .5em 0;
}

h5 {
    font-size: 1.25em;
    margin: 1.33em 0;
}

h6 {
    font-size: .83em;
    margin: 1.67em 0;
}



p, textarea, label, span{
    font: 400 1.15em/1.4em "source-sans-pro", sans-serif;
    margin-bottom: .7em;
}

td{
    font: 400 1.15em/1.6em "source-sans-pro", sans-serif;
    height: 2.8em;
    vertical-align: middle;
    padding: 0 .4em;
}

th{
    font:400 1.8em/1.4em "franklin-gothic-urw", sans-serif;
    text-align: left;
    height: 1.8em; 
    background-color: #181818;
    color:white;
    padding: 0 .4em;
}

a{
    font:400 1.15em/1.4em "source-sans-pro", sans-serif;
    text-decoration: none;
    color:black;
}

.itText{
    font:400 italic "georgia','Droid Serif", serif;
    color:@lightGrey;
}

li{
    list-style: none;
}

.navList:before{

}

ul{
    margin: 0;
    padding: 0;
}