.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 1081px) and (max-width: 1210px) {
  img {
    width: 100%;
    height: auto;
  }
  #dirmusicale img {
    width: 50%;
  }
  .musPart img {
    width: inherit;
  }
  .blogSummary h3 {
    height: 1.5em;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
    height: 15.4em;
  }
  .blogDroite {
    display: inline;
    float: left;
    width: 30.8%;
    margin: 0 1.25%;
    margin-top: 4.8em;
  }
  .postSummary {
    display: inline;
    float: left;
    width: 30.833333333333335%;
    margin: 0 1.25%;
    height: 27em;
  }
}
@media only screen and (min-width: 959px) and (max-width: 1081px) {
  img {
    width: 100%;
    height: auto;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 28.833333%;
    margin: 0 1.25%;
  }
  .agenda h3 {
    height: 2.3em;
  }
  .header nav {
    margin: 1em 0 0 0;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 30%;
    height: 2.4em;
    padding-left: 0.2em;
  }
  .newsLetter {
    margin: 0 auto;
  }
  .newsLetter input {
    float: none !important;
  }
  .header ul {
    margin-top: 1em;
  }
  .chapoSummary {
    top: -5.4em;
  }
  .dirMusicale img {
    width: auto;
    height: auto;
  }
  .musPart img {
    width: auto;
    height: auto;
  }
  .soc a {
    width: 26%;
  }
  .soc ul li:first-child a {
    background-size: 63%;
  }
  .soc ul li:first-child + li a {
    background-size: 63%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 63%;
  }
}
@media only screen and (min-width: 933px) and (max-width: 959px) {
  /* zone de floue pour écrans < 17' */
  img {
    width: 100%;
    height: auto;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 28.833333%;
    margin: 0 1.25%;
  }
  #dirmusicale img {
    width: inherit;
  }
  .musPart img {
    width: inherit;
  }
  .header nav {
    margin: 2em 0 0 0;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 30%;
    height: 2.4em;
    padding-left: 0.2em;
  }
  .newsLetter {
    margin: 0 auto;
  }
  .newsLetter input {
    float: none !important;
  }
  .chapoSummary {
    top: -5.4em;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .soc a {
    width: 26%;
  }
  .soc ul li:first-child a {
    background-size: 63%;
  }
  .soc ul li:first-child + li a {
    background-size: 63%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 63%;
  }
}
@media only screen and (min-width: 881px) and (max-width: 933px) {
  /* tablet mode portrait */
  img {
    width: 100%;
    height: auto;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 28.833333%;
    margin: 0 1.25%;
  }
  .agenda h3 {
    height: 2.3em;
  }
  .dirMusicale img {
    width: 50%;
    height: auto;
  }
  .musPart img {
    width: 30%;
  }
  .header {
    height: 11em;
  }
  .header li a {
    margin: 0em .75em;
  }
  .header nav {
    display: table;
    margin: 0 auto;
    float: none;
  }
  .logoSite {
    height: auto;
    width: 250px;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .chapoSummary {
    top: -5.4em;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .soc a {
    width: 26%;
  }
  .soc ul li:first-child a {
    background-size: 63%;
  }
  .soc ul li:first-child + li a {
    background-size: 63%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 63%;
  }
  .blogGauche {
    display: inline;
    float: left;
    width: 80.83333333333333%;
    margin: 0 1.25%;
  }
  .blogDroite {
    display: inline;
    float: left;
    width: 14.166666666666666%;
    margin: 0 1.25%;
    margin-top: 4.8em;
  }
  .item-list ul li {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 672px) and (max-width: 880px) {
  img {
    width: 100%;
    height: auto;
  }
  .enrolUs {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
  .agenda table {
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .infoSupEvenement {
    display: inline;
    float: left;
    margin: 0 1.25%;
    margin-top: 1.3em;
    clear: both;
  }
  .infoSupEvenement {
    width: 100%;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 27.833333%;
    margin: 0 1.25%;
  }
  .musPart img {
    width: 30%;
  }
  .header {
    height: 11em;
  }
  .header li a {
    margin: 0em .75em;
  }
  #photo li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .header nav {
    display: table;
    margin: 0 auto;
    float: none;
  }
  .logoSite {
    height: auto;
    width: 250px;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 60%;
    height: 2.4em;
    padding-left: 0.2em;
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 1.4em;
  }
  .newsLetter {
    margin: 0 auto;
    padding-top: 2.5em;
    height: 17em;
  }
  .newsLetter input[type="submit"] {
    width: 60.5%;
    height: 2.4em;
    background-color: #F7A313;
    border: none;
    font-size: 1.2em;
    margin-top: 1.4em;
    color: #FFF;
  }
  .chapoSummary {
    top: -5.4em;
  }
  .sbLeft {
    position: relative;
    float: none;
  }
  .sbLeft h2 {
    text-align: center;
  }
  .sbLeft ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .sbLeft li {
    display: inline;
    margin: 0 1.7%;
    background-color: #F7A313;
    padding: .7em .9em;
  }
  .sbLeft a {
    color: white;
  }
  .sbRight {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .dirMusicale img {
    width: 47.4%;
  }
  .gradeAdmin {
    width: 45.833333%;
    margin: 0 1.9%;
    height: 21.5em;
  }
  .soc {
    margin: 0em 24%;
    display: block;
    width: 31em;
  }
  .soc a {
    width: 26%;
  }
  .soc ul li:first-child a {
    background-size: 43%;
  }
  .soc ul li:first-child + li a {
    background-size: 43%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 43%;
  }
  .footer {
    padding-top: 1.4em;
    height: 71em;
  }
  .soc a {
    margin: 0 9.6%;
  }
  .footer section {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
    text-align: center;
  }
  .footer h2 {
    margin-top: 1em;
  }
  #mc-embedded-subscribe-form label {
    margin-top: 4em;
  }
  .siteMap a {
    text-transform: uppercase;
    padding: .36em 0;
    display: block;
    background-color: #000;
    color: #FFF;
    border: 1px solid #D3D3D3;
    margin: .4em 0;
  }
  .siteMap a:active {
    background-color: white;
    color: black;
  }
  #mc-embedded-subscribe-form input {
    padding: .36em 0;
  }
  #mc-embedded-subscribe-form input[type='submit'] {
    width: 100.65%;
  }
  .wrapForm {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .form-item,
  .form-actions {
    margin-bottom: 0em;
  }
  #contactform textarea {
    max-width: 100%;
    width: 101%;
  }
  .otherContactInf {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .otherInfCont {
    display: inline;
    float: left;
    width: 30.833333%;
    margin: 0 1.25%;
  }
}
@media only screen and (min-width: 599px) and (max-width: 671px) {
  /* smartphone et tablet en mode paysage */
  .postSummary {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 27.833333%;
    margin: 0 1.25%;
  }
  #photo li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .agenda table {
    width: 97.5%;
    margin: 0 1.25%;
  }
  .infoSupEvenement {
    display: inline;
    margin: 0 1.25%;
    margin-top: 1.3em;
    clear: both;
    width: 100%;
    float: none;
  }
  .enrolUs {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .musPart img {
    width: 30%;
  }
  .header {
    height: 11em;
  }
  .header li a {
    margin: 0em .4em;
  }
  .header nav {
    display: table;
    margin: 0 auto;
    float: none;
  }
  .logoSite {
    height: auto;
    width: 250px;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 60%;
    height: 2.4em;
    padding-left: 0.2em;
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 1.4em;
  }
  .newsLetter {
    margin: 0 auto;
    padding-top: 2.5em;
    height: 17em;
  }
  .newsLetter input[type="submit"] {
    width: 60.5%;
    height: 2.4em;
    background-color: #F7A313;
    border: none;
    font-size: 1.2em;
    margin-top: 1.4em;
    color: #FFF;
  }
  .sbLeft {
    position: relative;
    float: none;
  }
  .sbLeft h2 {
    text-align: center;
  }
  .sbLeft ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .sbLeft li {
    display: inline;
    margin: 0 1.1%;
    background-color: #F7A313;
  }
  .sbLeft a {
    color: white;
    font-size: 1em;
  }
  .sbRight {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .dirMusicale img {
    width: 47.4%;
  }
  .gradeAdmin {
    width: 45.833333%;
    margin: 0 1.9%;
    height: 18em;
  }
  .soc {
    margin: 0em 24%;
    display: block;
    width: 31em;
  }
  .soc a {
    width: 26%;
  }
  .soc ul li:first-child a {
    background-size: 43%;
  }
  .soc ul li:first-child + li a {
    background-size: 43%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 43%;
  }
  .footer {
    padding-top: 1.4em;
    height: 71em;
  }
  .soc a {
    margin: 0 9.6%;
  }
  .footer section {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
    text-align: center;
  }
  .footer h2 {
    margin-top: 1em;
  }
  #mc-embedded-subscribe-form label {
    margin-top: 4em;
  }
  .siteMap a {
    text-transform: uppercase;
    padding: .36em 0;
    display: block;
    background-color: #000;
    color: #FFF;
    border: 1px solid #D3D3D3;
    margin: .4em 0;
  }
  .siteMap a:active {
    background-color: white;
    color: black;
  }
  #mc-embedded-subscribe-form input {
    padding: .36em 0;
  }
  #mc-embedded-subscribe-form input[type='submit'] {
    width: 100.65%;
  }
  .wrapForm {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .form-item,
  .form-actions {
    margin-bottom: 0em;
  }
  #contactform textarea {
    max-width: 100%;
    width: 101%;
  }
  .otherContactInf {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .otherInfCont {
    display: inline;
    float: left;
    width: 30.833333%;
    margin: 0 1.25%;
  }
  .blogGauche {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .blogGauche img {
    width: 100%;
  }
  .blogDroite {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .blogDroite img {
    width: 100%;
  }
}
@media only screen and (min-width: 429px) and (max-width: 598px) {
  .sbLeft {
    position: relative;
    float: none;
  }
  #photo li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 43.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .agenda table {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: 21em;
  }
  .infoSupEvenement {
    width: 100%;
  }
  .enrolUs {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin-top: 5em;
  }
  .soc ul li:first-child a {
    background-size: 43%;
  }
  .soc ul li:first-child + li a {
    background-size: 43%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 43%;
  }
  .blogGauche {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .blogGauche img {
    width: 100%;
  }
  .blogDroite {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .blogDroite img {
    width: 100%;
  }
  .sbLeft h2 {
    width: 30%;
    margin: 0 auto;
    background: url(/sites/all/themes/themeharmonie/img/sprite) no-repeat -7px -29px;
    padding-left: 1.2em;
  }
  .sbLeft ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .sbLeft li {
    display: block;
    margin: 0 1.1%;
    background-color: #F7A313;
    margin-bottom: 0.8em;
  }
  .sbLeft a {
    color: white;
    font-size: 1em;
    display: block;
    padding: .7em .9em;
  }
  .sbRight {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .gradeAdmin {
    width: 45.833333%;
    margin: 0 1.9%;
    height: auto;
  }
  .musPart img {
    width: 30%;
  }
  .slider img {
    width: 98%;
    height: auto;
  }
  .otherContactInf {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  /********* FONTS***********/
  h2 {
    font: 900 2em/1.4em "museo-sans-condensed", sans-serif;
    margin: 0 0 .1em 0;
  }
  p,
  textarea,
  label,
  span {
    font: 400 1.23em/1.4em "prenton", serif;
    margin-bottom: .7em;
  }
  .logoSite {
    margin-left: 0.3em;
  }
  .tinynav {
    display: block;
  }
  .mainNav {
    display: none;
  }
  #tinynav1 {
    background-image: url('../img/resNav.png');
    margin-top: -0.7em;
  }
  .agenda h2 {
    background: url('../img/calendarIco.png') no-repeat 0 4px;
    padding-left: 1.1em;
    margin-top: .4em;
  }
  h3 {
    font-size: 1.6em;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 80%;
    height: 2.4em;
    padding-left: 0.2em;
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 1.4em;
  }
  .EventsContainer {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin-bottom: 1.5em;
  }
  .postSummary {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: 36em;
  }
  .newsLetter {
    margin: 0 auto;
    padding-top: 2.5em;
    height: 17em;
  }
  .newsLetter input[type="submit"] {
    width: 80.5%;
    height: 2.4em;
    background-color: #F7A313;
    border: none;
    font-size: 1.2em;
    margin-top: 1.4em;
    color: #FFF;
  }
  .footer {
    padding-top: 1.4em;
    height: 63em;
  }
  .soc a {
    margin: 0 22.6%;
  }
  .footer section {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
    text-align: center;
  }
  #mc-embedded-subscribe-form label {
    margin-top: 4em;
  }
  .siteMap a {
    text-transform: uppercase;
    padding: .36em 0;
    display: block;
    background-color: #000;
    color: #FFF;
    border: 1px solid #D3D3D3;
    margin: .4em 0;
  }
  .siteMap a:active {
    background-color: white;
    color: black;
  }
  #mc-embedded-subscribe-form input {
    padding: .36em 0;
  }
  .pupitreMusicienFiche {
    font-size: 1em;
    margin-top: -0.8em;
  }
  #mc-embedded-subscribe-form input[type='submit'] {
    width: 100.65%;
  }
  .wrapForm {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .form-item,
  .form-actions {
    margin-bottom: 0em;
  }
  .loc h2 {
    background: url('../img/locIco.png') no-repeat 0 6px;
    padding-left: 1.1em;
  }
  .contact h2 {
    margin-bottom: .5em;
    padding-left: 1.1em;
  }
  #contactform textarea {
    max-width: 100%;
    width: 101%;
  }
  .otherContactInf {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .otherInfCont {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
}
@media only screen and (max-width: 429px) {
  /* smartphone en mode portrait */
  /********* FONTS***********/
  img {
    width: 100%;
    height: auto;
  }
  .pupitreMusicienFiche {
    font-size: 1em;
    margin-top: -0.8em;
  }
  .listImage img {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: 25em;
    width: 91%;
  }
  .agenda table {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: 25em;
  }
  #photo li {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .infoSupEvenement {
    width: 100%;
  }
  .enrolUs {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .blogGauche {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .blogGauche img {
    width: 100%;
  }
  .soc ul li:first-child a {
    background-size: 43%;
  }
  .soc ul li:first-child + li a {
    background-size: 43%;
  }
  .soc ul li:first-child + li + li a {
    background-size: 43%;
  }
  .blogDroite {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .blogDroite img {
    width: 100%;
  }
  .half {
    margin: 0 1.25%;
    display: inline;
    float: left;
    width: 97.5%;
  }
  .musPart img {
    width: inherit;
  }
  h2 {
    font: 900 2em/1.4em "museo-sans-condensed", sans-serif;
    margin: 0 0 .1em 0;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font: 700 1.35em/1.4em "prenton", serif;
    margin: .5em 0;
  }
  p,
  textarea,
  label,
  span {
    font: 400 1.15em/1.4em "prenton", serif;
    margin-bottom: .7em;
  }
  /**********OTHER **************/
  img {
    width: 100%;
    height: auto;
  }
  section {
    margin: 0 auto;
    display: block;
    width: 98%;
  }
  .agenda h2 {
    background: url('../img/calendarIco.png') no-repeat 0 5px;
    padding-left: 1.2em;
    margin-top: .4em;
  }
  .blogSummary h2,
  .blogPage h2 {
    background: url('../img/blogIco.png') no-repeat 0 5px;
    padding-left: 1.5em;
  }
  .EventsContainer h3 a {
    font: 700 1.15em/1.1em "museo-sans-condensed", sans-serif;
    margin: 0 0 .3em 0;
    color: #F7A313;
  }
  .EventsContainer p .chapoSummary {
    max-width: 398px;
  }
  .slideBg {
    display: none;
  }
  .header {
    height: 5em;
    padding-bottom: 0;
  }
  .logoSite {
    margin-left: 0.3em;
    width: 50%;
  }
  .logoSite img {
    width: 182px;
    height: auto;
  }
  .tinynav {
    display: block;
  }
  .mainNav {
    display: none;
  }
  #tinynav1 {
    background-image: url('../img/resNav.png');
    margin-top: -1.5em;
  }
  .EventsContainer {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .postSummary {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .newsLetter input[type="text"],
  .newsLetter input[type="email"] {
    width: 80%;
    height: 2.4em;
    padding-left: 0.2em;
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 1.4em;
  }
  .newsLetter {
    margin: 0 auto;
    padding-top: 2.5em;
    height: 17em;
  }
  .newsLetter input[type="submit"] {
    width: 80.5%;
    height: 2.4em;
    background-color: #F7A313;
    border: none;
    font-size: 1.2em;
    margin-top: 1.4em;
    color: #FFF;
  }
  .footer {
    padding-top: 1.4em;
    height: 58em;
  }
  .soc a {
    margin-right: 17%;
  }
  .postSummary {
    height: 25em;
  }
  .footer section {
    display: block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
    text-align: center;
  }
  .siteMap a {
    text-transform: uppercase;
    padding: .36em 0;
    display: block;
    background-color: #000;
    color: #FFF;
    border: 1px solid #D3D3D3;
    margin: .4em 0;
  }
  .siteMap a:active {
    background-color: white;
    color: black;
  }
  .sbLeft {
    position: relative;
    float: none;
  }
  .sbLeft h2 {
    width: 30%;
    margin: 0 auto;
    background: url(/sites/all/themes/themeharmonie/img/sprite) no-repeat -7px -29px;
    padding-left: 1.2em;
  }
  .sbLeft ul {
    text-align: center;
    display: block;
    width: 100%;
  }
  .sbLeft li {
    display: block;
    margin: 0 1.1%;
    background-color: #F7A313;
    padding: .7em .9em;
    margin-bottom: 0.8em;
  }
  .sbLeft a {
    color: white;
    font-size: 1em;
  }
  .sbRight {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .overview img {
    margin-bottom: 0;
  }
  .overview h3 {
    margin-top: 0;
  }
  .gradeAdmin {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    height: auto;
  }
  .wrapForm {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .form-item,
  .form-actions {
    margin-bottom: 0em;
  }
  .topForm {
    width: 100%;
    display: block;
  }
  .loc h2 {
    background: url('../img/locIco.png') no-repeat 0 6px;
    padding-left: 1.1em;
  }
  .contact h2 {
    margin-bottom: .5em;
    padding-left: 1.1em;
  }
  #contactform textarea {
    max-width: 100%;
    width: 101%;
  }
  .otherContactInf {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .otherInfCont {
    width: 18em;
    margin: 0 auto;
    display: block;
  }
  #webform-component-e-mail {
    margin-left: 0em;
  }
  #edit-submitted-nom {
    width: 98.5%;
  }
  #edit-submitted-e-mail {
    width: 97.6%;
  }
}
