h1 {
  font: 900 3em/1.4em "museo-sans-condensed", sans-serif;
  margin: .67em 0 .5em;
}
h2 {
  font: 900 2.827em/1.4em "museo-sans-condensed", sans-serif;
  margin: 0 0 .29em 0;
}
.footer h2 {
  font-size: 1.8em;
  margin-top: 0;
}
h3 {
  font: 700 1.9em/1.1em "museo-sans-condensed", sans-serif;
  margin: 0 0 .3em 0;
  color: #fb8600;
}
.EventsContainer h3 a {
  font: 700 1em/1.1em "museo-sans-condensed", sans-serif;
  margin: 0 0 .3em 0;
  color: #fb8600;
}
.artTitle a {
  font: 700 0.87em/1.1em "museo-sans-condensed", sans-serif;
  margin: 0 0 .3em 0;
  color: #fb8600;
}
h4 {
  font: 700 1.414em/1.4em "prenton", serif;
  margin: .5em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.33em 0;
}
h6 {
  font-size: .83em;
  margin: 1.67em 0;
}
p,
textarea,
label,
span {
  font: 400 1.15em/1.4em "prenton", sans-serif;
  margin-bottom: .7em;
}
td {
  font: 400 1em/1.6em "prenton", sans-serif;
  height: 2.8em;
  vertical-align: middle;
  padding: 0 .4em;
}
th {
  font: 700 1.5em/1.4em "museo-sans-condensed", sans-serif;
  text-align: left;
  height: 1.8em;
  background-color: #181818;
  color: white;
  padding: .4em.4em 0 .4em;
}
a {
  font: 400 1.15em/1.4em "prenton", serif;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
